{% extends 'base.html' %}

{% block main %}

    {% if request.user.is_authenticated %}
        <h1>Welcome to the home page {{request.user.username}}. 
            <a href="{% url 'logout' %}">Logout?</a>
        </h1>

        <div class="row tm-row">
            {% for post in posts %}
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="{% url 'post' post.id post.slug %}" class="effect-lily tm-post-link tm-pt-60">
                        <div class="tm-post-link-inner">
                            <img src="{{post.image.url}}" alt="Image" class="img-fluid">                            
                        </div>
                        <span class="position-absolute tm-new-badge">New</span>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{post.title}}</h2>
                    </a>                    
                    <p class="tm-pt-30">
                        {{post.description}}
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <!-- <span class="tm-color-primary">Travel . Events</span> -->
                        <span class="tm-color-primary">{{ post.tags.all|join:" . " }}</span>
                        <span class="tm-color-primary">{{ post.created|date:"F d, Y" }}</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>{{post.comments.count}} comments</span>
                        {% if user.first_name and user.last_name %}
                            <span>by {{user.first_name}} {{user.last_name}}</span>
                        {% else %}
                            <span>by {{user.username}}</span>
                        {% endif %}
                    </div>
                </article>
            {% endfor %}
        </div>

    {% else %}
            <h1><a href="{% url 'login' %}">Log In</a> to view posts.</h1>
    {% endif %}    
{% endblock main %}
